<div class="w-full h-[4rem] lg:h-[4rem] bg-[#212121] transition-all duration-300 flex justify-between items-center">
    <div class="flex items-center ml-3">
        <img
        class="w-16 h-16 p-[0.45rem]"
        src="https://ng-hw-1.firebaseapp.com/assets/images/icon.png" />
        <div class="text-3xl font-bold text-white">Game of Thrones</div>
    </div>
    <div class="flex flex-row gap-x-14 px-10">
        <div class="text-white">
            Home
        </div>
        <div class="text-white">
            Story
        </div>
        <div class="text-white">
            Episodes
        </div>
        <div class="text-white">
            Videos
        </div>
        <div class="text-white">
            Logout
        </div>
    </div>
</div>
