<div class="w-full h-[4rem] lg:h-[3.7rem] bg-[#212121] transition-all duration-300 flex justify-between items-center">
    <div class="flex items-center ml-3">
        <img
        class="w-16 h-16 p-[0.45rem]"
        src="https://ng-hw-1.firebaseapp.com/assets/images/icon.png" />
        <div class="text-3xl font-bold text-white">Game of Thrones</div>
    </div>
    <div class="flex flex-row gap-x-6 px-10">
        <div class="text-white text-sm hover:bg-[#424242] transition-all duration-300 px-4 py-1 rounded-sm cursor-pointer">
            Home
        </div>
        <div class="text-white text-sm hover:bg-[#424242] transition-all duration-300 px-4 py-1 rounded-sm cursor-pointer">
            Story
        </div>
        <div class="text-white text-sm hover:bg-[#424242] transition-all duration-300 px-4 py-1 rounded-sm cursor-pointer">
            Episodes
        </div>
        <div class="text-white text-sm hover:bg-[#424242] transition-all duration-300 px-4 py-1 rounded-sm cursor-pointer">
            Videos
        </div>
        <div [routerLink]="'/login'" class="text-white text-sm hover:bg-[#424242] transition-all duration-300 px-4 py-1 rounded-sm cursor-pointer">
            Logout
        </div>
    </div>
</div>
